html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}section,header,footer,nav,article,aside,figure{display:block;width:100%}mark,time,meter,progress{display:inline}

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

header, section, footer {
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  margin: 0 auto 4em;
  background: #ff8000;
  padding: 40px 0;
}


section, footer {
  padding: 0 10px;
  max-width: 640px;
  margin-bottom: 2em;
}

body, input, button {
  color: #444;

  font-weight: 300;
  
  
}

a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 0 0 1em;
  line-height: 1.4em;
  font-size: 20px;
}

h1 {
  width: 471px;
  height: 165px;
  background-size: 471px 165px;
  text-indent: -9009em;
  margin: 0 auto;
  font-family: "Static";
  font-size: 500%;
  color: #ffffff;
  
}
h2{
    font-family: "Metropolis 1920";
    font-size: 1500%;
    margin: 0 auto;
    text-align: center;
    color: white;
    letter-spacing: -30px;
}

h3{
    font-family: "Quicksand";
    font-size: 400%;
    text-align: center;
    color: #ffffff;
    
    
    
}

h4{
    font-family: "Hero Light";
    font-size: 400%;
    text-align: center;
    color: #666666;
    
    
    
}
#main{
    font-family: "Quicksand";
    font-size: 175%;
    text-align: left;
    line-height: 125%;
    width: 65%;
    color: #666666;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 30px;
}





